#file-browser, #file-editor {
    span.pathbar {
        vertical-align: middle;
    }

    div.ui.breadcrumb {
        div.divider {
            color: #4183C4;
            cursor: pointer;
            padding: 0 1px 0 3px;
            margin: 0 0 0 -4px;

            &:first-of-type {
                margin-left: -12px;
                padding-left: 10px;
            }
        }
        .section {
            padding-left: 2px;
        }
    }
}

#file-browser {
    table.files {
        tbody > tr {
            cursor: pointer;
        }
    }
}

#file-editor {
    pre {
        margin: 0;
        overflow: auto;
    }
}
