body.login {
    background: #dedede;
    margin-top: 5em;

    .grid {
        height: 100%;
    }
    .ui.grid > .column:not(.row) {
        width: 450px;
    }

    .field[class*="left aligned"] {
        text-align: left;
    }
}
