.ui.form .field .ui.segment.homedir {
     margin-top: 0;
     padding: 0.67em 1em;
     padding-right: 0.5em;

     .button {
         margin-top: -0.1em;
     }

    .input {
        width: calc(100% - 6em);
    }

    .checkbox {
        margin-top: 0.5em;
    }
}
