/.config/psysh
/.idea
/.vscode
/.vagrant
/node_modules
/public/mix-manifest.json
/public/css/app.css
/public/css/theme.*.css
/public/js/app.js
/public/fonts/*
!/public/fonts/.gitkeep
/public/hot
/public/storage
/storage/clockwork
/storage/test-clone
/storage/*.key
/tests/reports/*
/vendor
/*.log
.env
.env.*
.composer
.php_cs.cache
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper*.php
npm-debug.log
yarn-error.log
setup.sh
