* text=auto eol=lf

*.blade.php diff=html
*.css linguist-vendored diff=css
*.scss linguist-vendored
*.js linguist-vendored
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
