#file-browser, #file-editor {
    a#back2site,
    button#levelup {
        vertical-align: top;
    }
}

#file-browser {
    div.ui.breadcrumb {
        div.divider {
            color: #4183C4;
            cursor: pointer;
            padding: 0 1px 0 3px;
            margin: 0 0 0 -4px;

            &:first-of-type {
                margin-left: -12px;
                padding-left: 10px;
            }
        }
        a.section {
            padding-left: 2px;
        }
    }
    table.files {
        tbody > tr {
            cursor: pointer;
        }
    }
}

#file-editor {
    pre {
        overflow: auto;
    }
}
