body {
    background-color: $body-bg;

    #app {
        height: 100%;

        .main {
            margin-left: $sidebar-width;

            #content {
                margin-top: 1rem;
            }

            .version {
                position: absolute;
                bottom: 0;
                text-align: center;
                height: 40px;
                width: calc(100% - #{$sidebar-width});
            }
        }
    }
}
