body {
    background-color: $body-bg;

    #app {
        height: 100%;

        .main {
            margin-left: $sidebar-width;

            #stats-bar {
                background: rgba(27, 28, 29, 0.9);
                height: 54px;
                left: $sidebar-width;
                width: calc(100% - #{$sidebar-width});

                .statistic .value,
                .statistic .label {
                    color: #fff;
                }

                .mini.statistic .value {
                    padding-top: 4px;
                }

                .hostname i {
                    position: relative;
                    top: -5px;
                }
            }

            #content {
                margin-top: 65px;
            }
        }
    }
}
