body {
    background-color: $body-bg;

    #app {
        height: 100%;

        .sidebar #user-menu {
            background: rgba(0, 0, 0, 0.6);
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            position: absolute;
            bottom: 0;

            & > div {
                border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
            }
        }

        .main {
            margin-left: $sidebar-width;

            #stats-bar {
                background: rgba(27, 28, 29, 0.9);
                height: 54px;
                left: $sidebar-width;
                width: calc(100% - #{$sidebar-width});

                .statistic .value,
                .statistic .label {
                    color: #fff;
                }

                .mini.statistic .value {
                    padding-top: 4px;
                }

                .hostname i {
                    position: relative;
                    top: -5px;
                }
            }

            #content {
                margin-top: 65px;
            }
        }
    }
}
