@import 'variables';
@import '~semantic-ui-sass/semantic-ui';

@import 'alerts';
@import 'footer';

@import 'file-manager';

body {
    background-color: $body-bg;
    height: calc(100% - 5rem);

    #app {
        height: 100%;
    }

    .main {
        margin-top: 5em;
    }

    &.login {
        background: #dedede;
        margin-top: 5em;

        .grid {
            height: 100%;
        }
        .column {
            max-width: 450px;
        }

        .field[class*="left aligned"] {
            text-align: left;
        }
    }
}
