.ui.inverted.list > .item.active,
.ui.inverted.list > .item.active {
    background: rgba(255, 255, 255, 0.08);
    color: #ffffff;
}

.ui.list .list > .item.active,
.ui.list > .item.active {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.95);
}