html {
    position: relative;
    min-height: 100%;
    height: unset;
}

body {
    margin-bottom: 60px;

    & > footer {
        margin-left: $sidebar_width;
        position: absolute;
        bottom: 0;
        height: 60px;
        width: calc(100% - #{$sidebar-width});

        p {
            line-height: 60px;
            text-align: center;
        }
    }
}
