#app.dark {
    #stats-bar {
        background: rgba(27, 28, 39, 0.8) !important;
    }
    #content {
        opacity: 0.8;
    }

    .ui.list {
        background: none;
    }

    .ui.inverted {
        &.sidebar.menu {
            background: rgba(27, 28, 39, 0.8);

            #user-menu {
                background: rgba(27, 28, 39, 0.9) !important;

                a:first-child {
                    background: rgba(27, 28, 39, 0.5) !important;
                }
            }
        }

        &.massive.transparent.input input {
            padding-top: 0.62619048em !important;
            padding-bottom: 0.62619048em !important;
        }

        &.steps {
            .step {
                background: #1b1c1d;
                border-color: #555;
                * {
                    color: rgba(255, 255, 255, 0.9);
                }
            }
            .step.active, .step.active:after {
                background: #0b0c0d !important;
            }
        }


        &.card {
            background: #1b1c1d !important;
            box-shadow: 0 1px 3px 0 #555, 0 0 0 1px #555 !important;
            * {color: rgba(255, 255, 255, 0.9) !important;}
        }

        .ui.header > .sub.header {
            color: rgba(255, 255, 255, 0.6) !important;
        }

        &.search.input {
            &> input {
                background: transparent;
                color: rgba(255, 255, 255, 0.67);
                &:focus {
                    color: rgba(255, 255, 255, 0.95);
                }
            }
            .icon {
                color: #fff;
            }
        }
        &.form {
            input:focus {
                border-color: #555;
                color: rgba(255, 255, 255, 0.95);
            }
            input, textarea, .selection.dropdown, .selection.dropdown .menu {
                background: #1b1c1d;
                border-color: rgba(255, 255, 255, 0.1);
                color: rgba(255, 255, 255, 0.67);
            }
            textarea:focus,
            .selection.dropdown .menu,
            .selection.dropdown.active {
                border-color: #555;
            }
            .selection.dropdown .menu > .item {
                border-top-color: #555;
            }
            .selection.dropdown .menu > .item:hover {
                background: #0b0c0d;
            }
            .selection.visible.dropdown > .text,
            .selection.dropdown .menu > .item {
                color: rgba(255, 255, 255, 0.67);
            }
            .divided.list {
                background: transparent;
            }

            .toggle.checkbox {
                label:before {
                    background-color: rgba(255, 255, 255, 0.05);
                }
                input:checked ~ label {
                    color: rgba(255, 255, 255, 0.95) !important;
                }
            }
        }

        &.dimmer {
            background-color: rgba(0, 0, 0, 0.85);
        }
        &.modals .modal {
            background: #4e5d6c;

            .header, .content, .actions {
                background: #0b0c0d;
                color: #fff;
            }
            &> .actions {
                border-top: 1px solid rgb(229 241 253 / 15%);
            }
        }
    }

    .grouplist, .userlist {
        &> .segment {
            &, .item {
                background: #1b1c1d;
                border-color: #555;
            }
            .item.active {
                background: rgba(0, 0, 0, 0.6);
                .large.icon {
                    color: #fff;
                }
            }

            &> .divided.relaxed.list {
                &:hover {
                    background: #4e5d6c;
                }
                .item:hover {
                    background: rgba(0, 0, 0, 0.6);
                }
            }
        }
    }
    .grouplist, .userlist, #file-editor {
        .toggle.checkbox label {
            color: #ebebeb !important;
        }
    }
}
